/* CSS Document */
.tour_menu{
	text-align:center;
	}
.tour_menu .menu_info{
	float:left;
	text-align:center;
	height:50px;
	line-height:52px;
	font-size:18px;
	font-weight:bold;
	color:#252525;
	}
.tour_menu .menu_active{	
	border-bottom:3px solid #F77225;
	color:#F77225;
	}
.tour_menu:after{
	content:"";
	display:block;
	clear:both;
	}
/*旅游图片*/
.tour_logo{
	width:100%;
	height:auto;
	}
.tour_logo img{
	width:100%;
	display:block;
	}
.tour_logo:after{
	content:"";
	display:block;
	clear:both;
	}
/*热门城市*/
.city{
	padding:10px 0px;
	margin:15px 0px;
	border:1px solid #ECEEF4;
	overflow:hidden;
	}
.city .city_kind{}
.city .city_kind li a{
	padding:3px 5px;
	margin:0px 2px 2px 3px;
	float:left;
	font-size:16px;
	color:#2D2D2D;
	display:block;
	}
.city .city_kind .city_active a{
	background:#F77225;
	color:#ffffff;
	}
.city_list{
	width:100%;
	overflow:hidden;
	}
.city_list .city_info{
  width:102%;
	}
.city_list .city_info:after{
	content:"";
	display:block;
	clear:both;
	}
.city_info li{
	float:left;
	width:48%;
	margin-right:2%;
	margin-bottom:15px;
	background:#ECEEF4;
	}
.city_info li a{
	}
.city_info li a .item_img{
	width:100%;
	}
.item_img img{
	width:100%;
	display:block;
}
.city_info li a .item_ader{
	padding:5px 5px 0px;
	font-size:16px;
	color:#323232;
	}
.city_info li a .item_time{
	position:relative;
	padding:5px 5px;
	overflow:hidden;
	color:#323232;
	}
.item_time .time_day{
	float:left;
	font-size:14px;
	display: block;
    position: absolute;
    bottom: 5px;
	}
.item_time .time_picy{
	float:right;
	font-size:14px;
	color:#F77225;
	}
.item_time .time_picy i{
	display:inline-block;
	margin:0px 3px;
	font-size:16px;
	font-style:normal;
	font-weight:bold;
	}
/*免责声明*/
.app_video .relief{
	padding-top:25px;
	overflow:hidden;
	}
.relief li{
	padding-left:25px;
	font-size:16px;
	color:#2A2A2A;
	line-height: 25px;
	}
.relief .relief_info{
	text-indent:-25px;
	}
/**/
#box{
	}















