/* CSS Document */
.old_obj{
	width:100%;
	font-size:14px;
	}
.old_obj li .info_left{
	width:49%;
	display:block;
	float:left;
	margin-bottom:10px;
	}
.old_obj li .info_right{
	width:49%;
	display:block;
	float:right;
	margin-bottom:10px;
	}
.old_obj li span img{
	display:block;
	width:100%;
	height:100%;
	}
.old_obj .old_text{
	text-indent:2em;
	}
	
	
	
	
	
	
	
	
	
	
	