/* CSS Document */
img{
	height:100%;
	}
.hotel_name{
	padding:0px 20px;
	height:50px;
	line-height:50px;
	text-align:center;
	font-size:16px;
	color:#5D5D5D;
	position:relative;
	border-bottom:1px solid #EDEEF2;
	}
.hotel_name span{
	width:76%;
	position:absolute;
	text-align:center;
	left:50%;
	top:50%;
	margin-left:-38%;
	}
.hotel_name .pre{
	display:block;
	width:25px;
	height:auto;
	position:absolute;
	top:50%;
	margin-top:-10px;
	left:20px;
	}
.hotel_name .pre img{
	width:100%;
	display:block;
	}
/*特色山景大床房*/
.video_head .header{
	font-size:16px;
	border-left:3px solid #f77128;
	float:left;
	text-indent:5px;
	letter-spacing:2px;
	color:#333333;
	}
.content{
	margin-top:35px;
	border:2px solid #EDEEF2;
	padding-bottom:5px;
	}
.content .home_detail{
	padding:5px 20px;
	overflow:hidden;
	border-bottom:2px solid #EDEEF2;
	}
.content .home_detail li{
	font-size:14px;
	color:#666666;
	width:50%;
	float:left;
	line-height:20px;
	}
.content .home_kind{
	padding:0px 10px;
	overflow:auto;
	}
.content .home_mkind{
	padding:0px 10px;
	overflow:auto;
	}
.home_kind ul{
	width:100%;
	border-bottom:1px dotted #333333;
	font-size:14px;
	margin-top:5px;
	}
.home_kind ul:after{
	content:"";
	display:block;
	clear:both;
	}
.home_mkind ul{
	width:100%;
	border-bottom:1px dotted #333333;
	font-size:14px;
	margin-top:5px;
	}
.home_mkind ul:after{
	content:"";
	display:block;
	clear:both;
	}
.home_kind ul li{
	float:left;
	line-height:25px;
	}
.home_kind ul .name{
	width:38%;
	}
.home_kind ul .chua{
	width:12%;
	}
.home_kind ul .fan{
	width:15%;
	}
.home_kind ul .ser{
	width:20%;
	}
.home_kind ul .mon{
	width:15%;
	color:#f77128;
	text-align:right;
	}
.home_kind ul .mon span{
	display:inline-block;
	font-size:12px;
	}
/*宽度小时*/
.home_mkind ul li{
	float:left;
	}
.home_mkind ul .name{
	width:45%;
	line-height:40px;
	}
.home_mkind ul .chua{
	width:30%;
	text-align:center;
	}
.home_mkind ul .mon{
	width:25%;
	color:#f77128;
	text-align:right;
	line-height:40px;
	}
.home_mkind ul .mon span{
	display:inline-block;
	font-size:12px;
	}
/*酒店介绍*/
.hotel_bottom{
	margin-top:20px;
	border: 2px solid #ECEEF4;
    overflow: hidden;
	}
.hotel_bottom .hotel_item {
	padding: 5px 10px;
    border-bottom: 1px solid #ECEEF4;
    font-size: 16px;
	} 
.hotel_service{
	padding:5px 10px;
	font-size:14px;
	}
.present_touch .present_left{
	float: left;
    width: 70px;
	line-height:21px;
	}
.present_touch .present_right{
	margin-left: 70px;
    line-height: 21px;
    letter-spacing: 1px;
	}
.present_touch .present_right a{
	display:inline-block;
	color:#f77128;
	margin-left:10px;
	}
.hr_top	{
	border-top:1px solid #ECEEF4;
	padding:2px 0px;
	overflow:hidden;
	position:relative;
	}
.hr_top .over{
	position:absolute;
	bottom:5px;
	right:5px;
	font-size:14px;
	color:#f77128;
	}
.hr_top	.present_left{
	line-height:27px;
	}
.hr_top	.wifi{
	background:url(../img/hotel/wifi.png) no-repeat left center;
	background-position:0px 5px;
	text-indent:30px;
	line-height:27px;
	}
.hr_top	.stop{
	background:url(../img/hotel/icon1.png) no-repeat left center;
	background-position:0px 3px;
	text-indent:30px;
	line-height:27px;
	}	
.hr_top	.stop .span{
	color:#f77128;
	}	
.present_right i{
	display:block;
	float:left;
	line-height:27px;
	width:100%;
	font-style:normal;
	text-indent:30px;
	}
.present_right em{
	display:block;
	float:left;
	line-height:27px;
	width:50%;
	font-style:normal;
	text-indent:30px;
	}
.present_right .no{
	background:url(../img/hotel/icon3.jpg) no-repeat left center;
	background-position:0px 3px;
	}	
.present_right .have{
	background:url(../img/hotel/icon2.png) no-repeat left center;
	background-position:0px 3px;
	}
/**/
.hotel_menu{
	border-top:1px solid #EDEEF2;
	position:fixed;
	width:100%;
	bottom:0px;
	background:#ffffff;
	text-align:center;
	z-index:9;
	}
.hotel_menu a{
	float:left;
	display:block;
	text-align:center;
	height:40px;
	font-size:14px;
	line-height:40px;
	color:#353535;
	position:relative;
	}	
.hotel_menu .hotel_active{
	background:#F77128;
	color:#ffffff;
	}	
	