/* CSS Document */
.app_video .relief{
	padding-top:25px;
	margin-bottom:95px;
	overflow:hidden;
	}
.relief li{
	padding-left:25px;
	font-size:16px;
	color:#2A2A2A;
	line-height: 25px;
    font-size: 16px;
	}
.relief .relief_info{
	text-indent:-25px;
	}