/* CSS Document */
.tour_name{
	height:50px;
	font-size:16px;
	color:#5D5D5D;
	position:relative;
	border-bottom:2px solid #EDEEF2;
	}
.tour_name span{
	width:76%;
	position:absolute;
	text-align:center;
	left:50%;
	top:50%;
	margin-left:-38%;
	}
.tour_name .pre{
	display:block;
	width:25px;
	height:auto;
	position:absolute;
	top:50%;
	margin-top:-10px;
	left:10px;
	}
.tour_name .pre img{
	width:100%;
	display:block;
	}
/*旅游路线*/
.tour_line{
	padding-bottom:15px;
	overflow:hidden;
	border-bottom:1px solid #EDEEF2;
	}
.tour_line li{
	margin-top:15px;
	position:relative;
	}
.tour_title{
	}
.tour_title .title_time{
	display:inline-block;
	margin-right:20px;
	font-size:18px;
	font-weight:bold;
	color:#f77128;
	}
.tour_title .title_adr{
	color:#5D5D5D;
	font-size:16px;
	}
.tour_title .title_adr i{
	display:inline-block;
	margin:0px 15px -3px;
	width:22px;
	height:20px;
	background:url(../img/tour/icon5.png) no-repeat;
	}
.tour_title .title_adr .img{
	display:inline-block;
	margin:0px 15px -3px;
	width:25px;
	height:14px;
	background:url(../img/tour/icon01.jpg) no-repeat;
	}
.tour_stroke{
	padding-left:2em;
	}
.tour_stroke .stroke_head span{
	display:inline-block;
	height:25px;
	line-height:25px;
	font-size:16px;
	font-weight:bold;
	color:#5D5D5D;
	position:relative;
	margin-right:15px;
	}

.tour_stroke i{
	width:21px;
	height:25px;
	display:block;
	left:0px;
	position:absolute;
	}
.tour_stroke .stroke_ad{
	font-size:14px;
	color:#5D5D5D;
	}
.tour_stroke .stroke_img{
	width:102%;
	}
.tour_stroke .stroke_img:after{
	content:"";
	display:block;
	clear:both;
	}
.tour_stroke .stroke_img li{
	width:48%;
	float:left;
	margin-right:2%;
	margin-top:15px;
	}
.tour_stroke .stroke_img li img{
	width:100%;
	display:block;
	height:100%;
	}







